@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css?family=Roboto);
}

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    background-color: #f7ce80;
    min-height: 100vh;
    display: flex;
}

main {
    flex: 2;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 30px;
    background-color: #321f1d;
    color: #f7ce80;
}

.book-form-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex: 1;
}

.form-container {
    flex: 0.5;
    display: none;
    align-self: flex-start
}

.show-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: #321f1d;
    color: white;
    padding: 20px 10px;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 4px 5px 3px rgb(47, 47, 47);
    width: 300px;
    height: 500px;
}

input,
fieldset {
    margin-bottom: 20px;
}

.add-book {
    background-color: #d95734;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    padding: 10px;
}

.books-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 20px;
    flex: 1 1 auto;
}

footer {
    text-align: center;
    background-color: #321f1d;
    color: #f7ce80;
    padding: 20px 0px;
}

/* This class selector is for DOM elements - the Books */
.book-card {
    background-color: #d95734;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgb(66, 66, 66);
    color: white;
    font-weight: bold;
    justify-content: space-evenly;
}

p.title {
    border: 2px solid black;
    background-color: #321f1d;
    width: 90%;
    padding: 5px;
    text-align: center;
}

button.readBook {
    width: 90%;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

button.readBook.isRead {
    background-color: #4CAF50; /* Green */
}

button.readBook.notRead {
    background-color: #D32F2F; /* Red */
}

.book-card > p {
    margin: 0;
}

.add-book-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    background-color: #d95734;
    transition: all 0.5s;
}

.add-book-button.showed {
    width: fit-content;
}

.add-book-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}